server/envd.sh
merge.sh

./cli-transfer//target
./flutter-transfer//android/app/debug
./flutter-transfer//android/app/profile
./flutter-transfer//android/app/release
./flutter-transfer/android//captures/
./flutter-transfer/android/GeneratedPluginRegistrant.java
./flutter-transfer/android//.gradle
./flutter-transfer/android//gradlew
./flutter-transfer/android//gradlew.bat
./flutter-transfer/android/gradle-wrapper.jar
./flutter-transfer/android/**/*.jks
./flutter-transfer/android/key.properties
./flutter-transfer/android/**/*.keystore
./flutter-transfer/android//local.properties
./flutter-transfer/app.*.map.json
./flutter-transfer/app.*.symbols
./flutter-transfer/apptest
./flutter-transfer/apptest/trans//android/app/debug
./flutter-transfer/apptest/trans//android/app/profile
./flutter-transfer/apptest/trans//android/app/release
./flutter-transfer/apptest/trans/android//captures/
./flutter-transfer/apptest/trans/android/GeneratedPluginRegistrant.java
./flutter-transfer/apptest/trans/android//.gradle
./flutter-transfer/apptest/trans/android//gradlew
./flutter-transfer/apptest/trans/android//gradlew.bat
./flutter-transfer/apptest/trans/android/gradle-wrapper.jar
./flutter-transfer/apptest/trans/android/**/*.jks
./flutter-transfer/apptest/trans/android/key.properties
./flutter-transfer/apptest/trans/android/**/*.keystore
./flutter-transfer/apptest/trans/android//local.properties
./flutter-transfer/apptest/trans/app.*.map.json
./flutter-transfer/apptest/trans/app.*.symbols
./flutter-transfer/apptest/trans/.atom/
./flutter-transfer/apptest/trans//build/
./flutter-transfer/apptest/trans/.buildlog/
./flutter-transfer/apptest/trans/*.class
./flutter-transfer/apptest/trans/.dart_tool/
./flutter-transfer/apptest/trans/**/doc/api/
./flutter-transfer/apptest/trans/.DS_Store
./flutter-transfer/apptest/trans/.flutter-plugins
./flutter-transfer/apptest/trans/.flutter-plugins-dependencies
./flutter-transfer/apptest/trans/.history
./flutter-transfer/apptest/trans/.idea/
./flutter-transfer/apptest/trans/*.iml
./flutter-transfer/apptest/trans/ios/!default.mode1v3
./flutter-transfer/apptest/trans/ios/!default.mode2v3
./flutter-transfer/apptest/trans/ios/!default.pbxuser
./flutter-transfer/apptest/trans/ios/!default.perspectivev3
./flutter-transfer/apptest/trans/ios/**/DerivedData/
./flutter-transfer/apptest/trans/ios/**/dgph
./flutter-transfer/apptest/trans/ios/Flutter/app.flx
./flutter-transfer/apptest/trans/ios/Flutter/App.framework
./flutter-transfer/apptest/trans/ios/Flutter/app.zip
./flutter-transfer/apptest/trans/ios/Flutter/ephemeral/
./flutter-transfer/apptest/trans/ios/Flutter/flutter_assets/
./flutter-transfer/apptest/trans/ios/Flutter/flutter_export_environment.sh
./flutter-transfer/apptest/trans/ios/Flutter/Flutter.framework
./flutter-transfer/apptest/trans/ios/Flutter/Flutter.podspec
./flutter-transfer/apptest/trans/ios/Flutter/Generated.xcconfig
./flutter-transfer/apptest/trans/**/ios/Flutter/.last_build_id
./flutter-transfer/apptest/trans/ios/**/.generated/
./flutter-transfer/apptest/trans/ios/Icon?
./flutter-transfer/apptest/trans/ios/*.mode1v3
./flutter-transfer/apptest/trans/ios/*.mode2v3
./flutter-transfer/apptest/trans/ios/*.moved-aside
./flutter-transfer/apptest/trans/ios/*.pbxuser
./flutter-transfer/apptest/trans/ios/*.perspectivev3
./flutter-transfer/apptest/trans/ios/**/Pods/
./flutter-transfer/apptest/trans/ios/profile
./flutter-transfer/apptest/trans/ios/Runner/GeneratedPluginRegistrant.*
./flutter-transfer/apptest/trans/ios/.sconsign.dblite
./flutter-transfer/apptest/trans/ios/ServiceDefinitions.json
./flutter-transfer/apptest/trans/ios/**/.symlinks/
./flutter-transfer/apptest/trans/ios/**/*sync/
./flutter-transfer/apptest/trans/ios/.tags*
./flutter-transfer/apptest/trans/ios/**/.vagrant/
./flutter-transfer/apptest/trans/ios/xcuserdata
./flutter-transfer/apptest/trans/*.ipr
./flutter-transfer/apptest/trans/*.iws
./flutter-transfer/apptest/trans/linux/flutter/ephemeral
./flutter-transfer/apptest/trans/*.log
./flutter-transfer/apptest/trans/macos/**/dgph
./flutter-transfer/apptest/trans/macos/**/Flutter/ephemeral/
./flutter-transfer/apptest/trans/macos/**/Pods/
./flutter-transfer/apptest/trans/macos/**/xcuserdata/
./flutter-transfer/apptest/trans/migrate_working_dir/
./flutter-transfer/apptest/trans/.pub/
./flutter-transfer/apptest/trans/.pub-cache/
./flutter-transfer/apptest/trans/*.pyc
./flutter-transfer/apptest/trans/.svn/
./flutter-transfer/apptest/trans/*.swp
./flutter-transfer/apptest/trans/windows/!*.[Cc]ache/
./flutter-transfer/apptest/trans/windows/*.[Cc]ache
./flutter-transfer/apptest/trans/windows/flutter/ephemeral/
./flutter-transfer/apptest/trans/windows/*.sln.docstates
./flutter-transfer/apptest/trans/windows/*.suo
./flutter-transfer/apptest/trans/windows/*.user
./flutter-transfer/apptest/trans/windows/*.userosscache
./flutter-transfer/apptest/trans/windows/x64/
./flutter-transfer/apptest/trans/windows/x86/
./flutter-transfer/.atom/
./flutter-transfer//build/
./flutter-transfer/.buildlog/
./flutter-transfer/*.class
./flutter-transfer/.dart_tool/
./flutter-transfer/**/doc/api/
./flutter-transfer/.DS_Store
./flutter-transfer/.flutter-plugins
./flutter-transfer/.flutter-plugins-dependencies
./flutter-transfer/.history
./flutter-transfer/.idea/
./flutter-transfer/.idea//shelf/
./flutter-transfer/.idea//workspace.xml
./flutter-transfer/*.iml
./flutter-transfer/ios/!default.mode1v3
./flutter-transfer/ios/!default.mode2v3
./flutter-transfer/ios/!default.pbxuser
./flutter-transfer/ios/!default.perspectivev3
./flutter-transfer/ios/**/DerivedData/
./flutter-transfer/ios/**/dgph
./flutter-transfer/ios/Flutter/app.flx
./flutter-transfer/ios/Flutter/App.framework
./flutter-transfer/ios/Flutter/app.zip
./flutter-transfer/ios/Flutter/ephemeral/
./flutter-transfer/ios/Flutter/flutter_assets/
./flutter-transfer/ios/Flutter/flutter_export_environment.sh
./flutter-transfer/ios/Flutter/Flutter.framework
./flutter-transfer/ios/Flutter/Flutter.podspec
./flutter-transfer/ios/Flutter/Generated.xcconfig
./flutter-transfer/**/ios/Flutter/.last_build_id
./flutter-transfer/ios/**/.generated/
./flutter-transfer/ios/Icon?
./flutter-transfer/ios/*.mode1v3
./flutter-transfer/ios/*.mode2v3
./flutter-transfer/ios/*.moved-aside
./flutter-transfer/ios/*.pbxuser
./flutter-transfer/ios/*.perspectivev3
./flutter-transfer/ios/**/Pods/
./flutter-transfer/ios/profile
./flutter-transfer/ios/Runner/GeneratedPluginRegistrant.*
./flutter-transfer/ios/.sconsign.dblite
./flutter-transfer/ios/ServiceDefinitions.json
./flutter-transfer/ios/**/.symlinks/
./flutter-transfer/ios/**/*sync/
./flutter-transfer/ios/.tags*
./flutter-transfer/ios/**/.vagrant/
./flutter-transfer/ios/xcuserdata
./flutter-transfer/*.ipr
./flutter-transfer/*.iws
./flutter-transfer/linux/flutter/ephemeral
./flutter-transfer/*.log
./flutter-transfer/macos/**/dgph
./flutter-transfer/macos/**/Flutter/ephemeral/
./flutter-transfer/macos/**/Pods/
./flutter-transfer/macos/**/xcuserdata/
./flutter-transfer/migrate_working_dir/
./flutter-transfer/.pub/
./flutter-transfer/.pub-cache/
./flutter-transfer/*.pyc
./flutter-transfer/.svn/
./flutter-transfer/*.swp
./flutter-transfer/windows/!*.[Cc]ache/
./flutter-transfer/windows/*.[Cc]ache
./flutter-transfer/windows/flutter/ephemeral/
./flutter-transfer/windows/*.sln.docstates
./flutter-transfer/windows/*.suo
./flutter-transfer/windows/*.user
./flutter-transfer/windows/*.userosscache
./flutter-transfer/windows/x64/
./flutter-transfer/windows/x86/
# From ./cli-transfer/.gitignore
# From ./flutter-transfer/android/.gitignore
# From ./flutter-transfer/apptest/trans/android/.gitignore
# From ./flutter-transfer/apptest/trans/.gitignore
# From ./flutter-transfer/apptest/trans/ios/.gitignore
# From ./flutter-transfer/apptest/trans/linux/.gitignore
# From ./flutter-transfer/apptest/trans/macos/.gitignore
# From ./flutter-transfer/apptest/trans/windows/.gitignore
# From ./flutter-transfer/.gitignore
# From ./flutter-transfer/.idea/.gitignore
# From ./flutter-transfer/ios/.gitignore
# From ./flutter-transfer/linux/.gitignore
# From ./flutter-transfer/macos/.gitignore
# From ./flutter-transfer/windows/.gitignore
